@page
@model EAfspraak.Web.Pages.Work1Model
@{
}
<div class="card-header" style="direction:rtl;">

    <span style="display:block;position:absolute;"></span>
    <div style="direction:rtl;">
        <span> Welcome @Model.UserId</span>

        <a asp-page="index" asp-page-handler="logout">Logout</a>
    </div>
</div>
